.menu{
    overflow: hidden;
    background-color: #D5B0AC;
}

.menu span{
    color: #402E2A;
    font-size: 20px;
    display: none inline ;
    padding:25px 100px 15px 100px ;
    text-align: center;
    text-decoration: none;
}

.menu span:hover {
    background-color: #9CD08F;
    color: #FFFFFF;
}

#item1{
    display: none inline ;
    margin-left: 130px
}

.menu_menu_vertical{
    overflow: hidden;
    background-color: #D5B0AC;
    margin-right: 1130px;
}

.menu_menu_vertical span{
    color: #402E2A;
    font-size: 20px;
    display: block ;
    text-align: left;
    text-decoration: none;
    text-align: center;
    border-style: solid ;
    border-color: #FFFFFF;
    border-width: 0.5px;
}

.menu_menu_vertical span:hover {
    background-color: #9CD08F;
    color: #FFFFFF;
}